# Logs
*.log
*.log.gz
data/logs/*
!data/logs/.gitkeep

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# builds
dist
native-build/

# builds
backend/tests/
tests/
**/tests/

# configs
config.json

# TypeScript incremental compilation cache
*.tsbuildinfo

# databases
*.db*

# vscode
.vscode/


# fixes folder
/fixes/

# temporary files
tmp/
.test-db.sqlite*
.pulsarr-tag-migration.json

# test coverage
coverage/
