.darkNavbarColorModeToggle:hover {
  background: var(--ifm-color-gray-800);
}

/* Ensure vertical alignment */
div[class*='colorModeToggle'] {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Remove any margins or padding */
button[class*='buttonStyle'] {
  margin: 0 !important;
  align-self: center;
  vertical-align: middle;
}
